@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://conceal.network/landing/fonts/icomoon/style.css');
@import url('https://conceal.network/landing/css/style.css');

#listQuickLinks {
  display: flex;
  flex-wrap: wrap;
  flex: 0 50%;
}